
@{
    ViewBag.Title = "About";

}


<div class="container">
    <h2>Centralized Blood Bank Management System (CBBMS)</h2>
    <hr>
    <p>The CBBMS will work as medium between Blood Bank to Blood Bank, Recipient to donor, Blood Bank to donor and recipient to Blood Bank. A donor can donate blood at any franchise across the country either to a specific recipient or as volunteer and recipient can collect the blood form any franchise. Basic blood management facility will be provided by system. All the blood inventory will be public through web portal.</p>
</div>
<div>
      
</div>