@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
<address class="glyphicon glyphicon-envelope">
    Muhammad Hanif<br />
    PM CBBMS, CIIT Virtual Campus<br />
    <abbr title="email">Email:</abbr>
    sp13bsse002@vcomsats.edu.pk
</address>

<address>
    <strong>Support:</strong> <i class="glyphicon glyphicon-user"></i>  <a href="mailto:sp13bsse002@vcomsats.edu.pk">PM CBBMS</a><br />
    <strong>Marketing:</strong> <i class="glyphicon glyphicon-user"></i> <a href="mailto:sp13bsse049@vcomsats.edu.pk">Engineer CBBMS</a> <br />
    <strong>Coordination:</strong><i class="glyphicon glyphicon-user"></i> <a href="mailto:sp13bsse028@vcomsats.edu.pk">Engineer CBBMS</a>
</address>