@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>CBBMS</h1>
    <p class="lead">A public interest Project Lunched By Joint Team of Sp13 Group under the umberlla of VCOMSATS ,This Project is being develped as Web applications using ASP.Net Web API, CSHTML, CSS(BootStrap) and JavaScript.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            CBBMS will be used for maintaining all the process and activities of blood bank.
            The purpose of the centralized blood bank management system is to simplify and automate the process of searching for blood in case of emergency and maintain the records of blood donors, recipients and blood stocks in the bank on a centralized repository which is available online.
        </p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Team</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success"><strong>MS. SANA</strong> Project Supervisor</li>
            <li class="list-group-item list-group-item-info"><strong>MR. MUHAMMAD HANIF</strong>  Team Lead & PM</li>
            <li class="list-group-item list-group-item-warning"><strong>MS. IFRAH ALI</strong> Project Engineer</li>
            <li class="list-group-item list-group-item-danger"><strong>MR. MAZHAR AHMED</strong>  Project Engineer</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Highlights</h2>
        @Html.Partial("_PictureCarousel")
    </div>
</div>