<div class="popover fade left in" style="top: 12px; left: -255px; display: block;">
    <div class="arrow"></div><h3 class="popover-title">Form Name</h3><div class="popover-content">
        <form role="form">
            <div class="form-group">
                <label class="col-md-12 control-label"> Form Name </label>
                <div class="col-md-10">
                    <input class="form-control field" data-type="input" type="text" name="name" id="name" value="Form Ritle">
                </div>
            </div>
            <hr>
            <button id="save" class="btn btn-info col-md-4">Save</button>&nbsp;<button id="cancel" class="btn btn-danger">Cancel</button>
        </form>
    </div>
</div>
