<h2>Admin DashBoard</h2>
<hr />
<div id="services" class="well container-fluid text-center">
    <h2 class="">Services</h2>
    <h4>Facility We Offers...</h4>
    <br>
    <div class="row slideanim slide btn">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4 class="">Rigghts Managment</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4 btn">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4 xclass="">LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4 btn">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4 class="">JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim slide btn">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4 class="">GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4 btn">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4 class="">CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4 btn">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 class="" style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>